@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background-color: rgb(56, 56, 56);
  color: rgb(211, 211, 211);
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  margin: 0;
}

footer {
  font-size: 12pt;
  background-color: rgb(43, 43, 43);
  margin-bottom: 0;
  position: fixed;
  display: block;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}